* Слайдер */ .slick-track {
    display: flex;
}

.frontbyte__slider {
    position: relative;
}

.frontbyte__slider .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 5;
    font-size: 0;
}

.frontbyte__slider .slick-arrow.slick-prev {
    left: 0;
}

.frontbyte__slider .slick-arrow.slick-next {
    right: 0;
}


.frontbyte__slider .slick-dots {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 0;
}

.frontbyte__slider .slick-dots li {
    list-style: none;


}

.frontbyte__slider .slick-dots li button {
    font-size: 0;
    width: 64px;
    height: 3px;
    background-color: #2d2d42;
    display: block;

}

.frontbyte__slider .slick-dots li.slick-active button {
    border-color: transparent;
    border: 3px solid #fff;

}

.slick-track {
    display: flex;
    align-items: flex-start;
}