:root {
  --coral: rgba(244, 244, 247);
  --black-blur: rgba(0, 0, 0, 0.4);
  --black: rgba(0, 0, 0);
  --chocolate-brown: rgba(48, 32, 32);
  --black-blurish-purple: rgba(48, 34, 43);
  --white-blur: rgba(255, 255, 255, 0.2);
  --apricot: rgba(177, 159, 159);
  --timber-wolf: rgba(240, 231, 231, 0.2);
  --white: rgb(255, 255, 255);
  --purplish-blue: rgba(45, 45, 66);
  --pale-blue: rgba(192, 198, 200);
  --aquamarine: rgba(100, 202, 225);
  --agate-gray: rgba(147, 164, 169);
  --pink: rgba(208, 75, 155);
  --blue-alice: rgba(240, 248, 255);
  --pale-green: rgba(144, 179, 84);
}

body {
  background-color: var(--coral);
  font-family: "Roboto";
  font-size: 30px;
  font-weight: 300;
  line-height: 1.33;
}



.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}

.title {
  font-size: 60px;
  font-weight: 900;
  line-height: 1.08;
  letter-spacing: -0.75px;
  margin: 0 200px;
  margin-bottom: 30px;
}

.innovation {
  font-size: 20px;
  line-height: 1.5;
  margin: 0px 300px 0px 200px;
  font-size: 20px;
  font-weight: 300;
}

/* header */
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  padding: 40px 60px 40px 40px;
  font-size: 15px;
  z-index: 1;
}

.header__fixed {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  background: var(--black-blur);
  position: fixed;
  animation-name: fad;
  animation-duration: 1s;
  padding-left: 15%;
}

@keyframes fad {
  from {
    opacity: 0;
    top: -50px;
  }

  to {
    opacity: 1;
    top: 0;
  }
}

.header__nav {
  display: flex;
}

.header__nav-items {
  display: flex;
  column-gap: 50px;
  list-style-type: none;
  margin-left: 80px;
  padding-top: 10px;
}
.nav-items-scroll {
  margin-left: 160px;
  font-size: 20px;
  column-gap: 100px;
}

.header__nav-item-link {
  padding: 1px;
  color: var(--coral);
  position: relative;
}

.header__nav-item-link:after {
  content: "";
  border-bottom: 3px solid var(--white);
  width: 0px;
  position: absolute;
  bottom: 0;
  left: 50%;
}
/* Обтекание */
.header__nav-item-link:hover:after {
  width: 100%;
  height: 3px;
  left: 0;
  transition: all 0.5s linear;
}

.header__nav-item {
  flex-shrink: 0;
}

.header__nav-item-link {
  text-decoration: none;
  flex-shrink: 1;
}

.lang {
  display: flex;
  margin-left: 227px;
  column-gap: 25px;
}

.lang-item {
  width: 40px;
  height: 40px;
  display: flex;
  cursor: pointer;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: var(--coral);
}

.lang-item:hover {
  transform: scale(1.2);
}

.lang-item--active {
  border: solid 1px var(--white-blur);
}

.services__advertising {
  height: 260px;
  margin: 0px 200px 0px 200px;
  padding-top: 173px;
  color: var(--coral);
  margin-bottom: 200px;
}

.home {
  position: relative;
  height: 680px;
  background: url(../img/fon/img-header.jpg) no-repeat;
  background-blend-mode: multiply;
  background-color: var(--apricot);
  margin-bottom: 100px;
}

.services__providing {
  color: var(--coral);
  width: 680px;
  padding-right: 40px;
}

.response {
  position: absolute;
  width: 580px;
  border: solid 1px var(--timber-wolf);
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 22px 0px 25px 200px;
  bottom: 0px;
  left: 0px;
  font-size: 20px;
  line-height: 1.5;
  color: var(--coral);
}

.response:hover {
  color: var(--pale-green);
  transform: scale(1.2);
}


.arrow {
  margin-left: auto;
  margin-right: 50px;
}

/* advantages */

.advantages {
  background-color: var(--white);
  width: 1180px;
  margin: 0 auto;
  color: var(--purplish-blue);
}

.advantages__header {
  margin-bottom: 85px;
}

.advantages__title {
  padding-top: 90px;
  font-size: 60px;
}

.advantages__innovation {
  width: 780px;
  height: 40px;
  font-size: 30px;
}

.advantages__list {
  margin-left: 160px;
  display: flex;
  column-gap: 60px;
  font-size: 20px;
  font-weight: 900;
  line-height: 1.5;
}

.advantages__list-item {
  list-style-type: none;
}

.advantages__list-icon {
  margin-bottom: 30px;
  transition: .8s ease-in-out;
}

.advantages__list-icon:hover {
  transform: rotate(360deg)scale(1.2);
}

.advantages__list-desc {
  width: 240px;
  overflow: auto;
  display: flex;
  text-align: left;
}

/* skills  */

.skills {
  background-color: var(--white);
  width: 1180px;
  color: var(--purplish-blue);
  margin: 0 auto;
  margin-bottom: 107px;
}

.skills__title {
  padding-top: 70px;
  color: var(--pale-blue);
  margin-bottom: 75px;
}

.skills__list-wrapper {
  margin: 0 100px;
  font-size: 20px;
  line-height: 1.5;
}

.skills__list {
  font-size: 20px;
  line-height: 1.5;
  padding-bottom: 145px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 103px;
  row-gap: 21px;
}

.skills__list-item {
  flex-basis: 400px;
  column-gap: 30px;
  display: flex;
  align-items: center;
}

.skills__list-item::before {
  content: "";
  width: 30px;
  flex-shrink: 0;
  height: 1px;
  background-color: var(--aquamarine);
}

/* platforms */

.platforms {
  color: var(--purplish-blue);
}

.platforms__improved {
  margin-bottom: 90px;
}

.platforms__ways {
  line-height: 1.33;
  font-size: 30px;
  font-weight: 300;
  white-space: nowrap;
  margin-bottom: 20px;
}

.platforms__reality {
  background: url(../img/fon/vid-birdieeyes.jpg) center/100% 100% no-repeat;
  padding: 200px 0px 1px 200px;
  color: var(--coral);
  margin-bottom: 20px;
}

.platforms__reality-block {
  width: 380px;
  color: var(--coral);
  overflow: auto;
  height: 380px;
  background-color: var(--aquamarine);
  margin-bottom: 20px;
  display: block;

}

.platforms__reality-games {
  padding: 40px 40px 39px 40px;
  font-size: 13px;
  font-weight: 900;
  line-height: 1.54;
  letter-spacing: 1.73px;
}

.platforms__reality-card {
  overflow: auto;
  padding: 0 40px 40px;
  overflow: auto;
}

.platforms__card {
  width: 1180px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 70px;
  padding-bottom: 89px;
}

.platforms__applications-company {
  margin-top: 40px;
  font-size: 13px;
  font-weight: 900;
  line-height: 1.54;
  letter-spacing: 1.73px;
}

.platforms__company-desc {
  width: 440px;
  overflow: auto;
  margin-top: 30px;
}

.platforms__applications {
  width: 580px;
  cursor: pointer;
}

.platforms__applications:hover {
  box-shadow: 20px -15px 10px 5px var(--black-blur);
  background-color: var(--blue-alice);

}

.team {
  margin-bottom: 83px;
  display: block;
}

.team__work {
  background: url(../img/fon/img-team-home.jpg) center no-repeat;
  padding: 200px 200px 20px 600px;
}

.team__work-block {
  background-color: var(--coral);
  color: var(--purplish-blue);
  width: 380px;
  margin-top: 10px;
  margin-bottom: 20px;

}

.team__work-games {
  font-size: 13px;
  font-weight: 900;
  line-height: 1.54;
  letter-spacing: 1.73px;
}

.team__games-card {
  padding-bottom: 110px;
  overflow: auto;
}

/* frontbyte */
.frontbyte {
  color: var(--purplish-blue);
  margin-bottom: 80px;
}

.frontbyte__title {
  font-size: 60px;
  font-weight: 900;
  line-height: 1.08;
  letter-spacing: -0.75px;
  margin-bottom: 25px;
}

.frontbyte__innovation {
  font-size: 30px;
  font-weight: 300;
  line-height: 1.33;
  white-space: nowrap;
  margin-bottom: 90px;
  /* margin-bottom: 89px; */
}

.frontbyte__fon {
  background: url(../img/fon/img-inside-press.jpg) right 100% no-repeat;
  padding-top: 218px;
}

.frontbyte__slider {
  width: 400px;
  background-color: var(--coral);
}

.frontbyte__slider-item:hover {
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(30, 43, 26);
  background: linear-gradient(90deg, rgb(185, 222, 237), rgb(239, 239, 239));
}

.frontbyte__slider-pressa {
  padding-top: 40px;
  font-size: 13px;
  font-weight: 900;
  line-height: 1.54;
  letter-spacing: 1.73px;
  margin-bottom: 30px;
}

.frontbyte__slider-pressa-text {
  width: 340px;
  overflow: auto;
}

.item {
  padding-top: 55px;
  padding-bottom: 48px;
}

/* news */
.news {
  margin-bottom: 100px;
}

.news__last {
  font-size: 13px;
  font-weight: 900;
  line-height: 1.54;
  letter-spacing: 1.73px;
  margin-bottom: 49px;
}

.news__list-items {
  display: flex;
  list-style-type: none;
  column-gap: 19px;
  text-align: left;
  padding: 0;
}

.news__list-item {
  font-size: 20px;
  overflow: auto;
  line-height: 1.5;
  padding-right: 60px;
  transition: all 0.5s ease;
}

.news__list-item>a:hover {
  background-color: rgb(173, 156, 134);
}

.news__list-item-date {
  font-size: 15px;
  color: var(--agate-gray);
  margin-top: 20px;
}

/* contacts */
.contacts {
  color: var(--coral);
  background-color: var(--black);
  width: 1180px;
  position: relative;
  overflow: hidden;
}

.contacts__box {
  display: flex;
  padding-top: 100px;
}

.contacts__title {
  margin-bottom: 75px;
}

.contacts__manager {
  display: flex;
  column-gap: 25px;
  list-style-type: none;
  margin-left: 25px;
  padding-top: 19px;
}

.contacts__list-item {
  height: 30px;
  transition: all 0.5s ease;
}

.contacts__list-item:hover {
  transform: scale(1.2);
  transform: rotate(360deg);
  background-color: var(--aquamarine);
  border-radius: 20%;
}

.contacts__map {
  background: url(../img/img-svg/img-map.svg) 249px 0px no-repeat;
}

.contacts__column {
  display: flex;
  margin-bottom: 85px;
}

.contacts__address-office {
  width: 380px;
  font-size: 20px;
  overflow: auto;
  line-height: 1.5;
  color: var(--coral);
  margin-left: 200px;
}

.marker-blue {
  border-radius: 50%;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: var(--aquamarine);
  margin-left: 90px;
  margin-bottom: 12px;
}

.marker-pink {
  border-radius: 50%;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: var(--pink);
  margin-top: 43px;
  margin-left: 24px;
}

div>span:hover {
  transform: scale(1.2);
}

.contacts__wrap {
  display: flex;
  margin-left: 200px;
  column-gap: 118px;
}

.contacts__strana {
  font-size: 20px;
  font-weight: 900;
  line-height: 1.5;
  margin-bottom: 20px;
}

.contacts__address {
  width: 380px;
  overflow: auto;
  font-size: 15px;
  line-height: 1.67;
  color: var(--coral);
}

.contacts__address::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
}

.contacts__messengers {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.contacts__mail {
  color: var(--aquamarine);
}

.contacts__messengers>a:hover {
  color: var(--pale-green);
}

.contacts__number {
  color: var(--coral);
}



.contacts__response {
  position: absolute;
  background-color: var(--aquamarine);
}

.contacts__response:hover {
  transform: scale(1.1);
}

.contacts__arrow {
  margin-left: auto;
  margin-right: 50px;
}

.contacts__data {
  color: var(--coral);
  margin-top: 95px;
  font-size: 20px;
  padding-bottom: 10px;
  line-height: 1.5;
  opacity: 0.5;
}